# Calculate Observability for IceCube Follow-Up

In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sys

In [4]:
gold = pd.read_csv('gold_alerts.csv').drop('Unnamed: 0', axis=1)
gold.head()

                  DATE          RA        DEC   ANG_RES
0  2020/05/13 05:44:03   58.763296  10.265623  0.243153
1  2020/05/10 08:36:03  152.776822 -11.736216  0.238961
2  2020/06/26 01:14:37  249.688971  -9.190152  0.241531
3  2020/06/30 08:48:45  232.259315   5.258444  0.230626
4  2020/03/15 09:35:07  353.355815  11.079895  0.271244

In [5]:
bronze = pd.read_csv('gold_alerts.csv').drop('Unnamed: 0', axis=1)
bronze.head()

                  DATE          RA        DEC   ANG_RES
0  2020/05/13 05:44:03   58.763296  10.265623  0.243153
1  2020/05/10 08:36:03  152.776822 -11.736216  0.238961
2  2020/06/26 01:14:37  249.688971  -9.190152  0.241531
3  2020/06/30 08:48:45  232.259315   5.258444  0.230626
4  2020/03/15 09:35:07  353.355815  11.079895  0.271244

## Metrics

For each simulated alert, we need to calculate the following characteristics:
1. airmass
2. extinction from the Milky Way
3. the separation from the moon on the first night

Airmass already accounts for avoiding the sun, so we do not need to calculate sun separation

### Observatory specifications

In [9]:
class Observatory():
    def __init__(self):
        return
    
    #TODO

In [10]:
ctio = Observatory()

### Function to do the calculation

In [11]:
def calculate_metrics(date, ra, dec, observatory=ctio):
    ## TODO
    
    
    
    return airmass, extinction, moonsep

### Run the function and add to the dataframe

Run on gold events

In [ ]:
counter = 0.0
total = gold.shape[0]
airmasses, extincitons, moonseps = [], [], []

for index, row in gold.iterrows():
    #track progress
    counter += 1.0
    progress = counter / total * 100.0
    sys.stdout.write('\rProgress:  %.2f %%     ' %progress)
    sys.stdout.flush()
    
    #perform calculation
    airmass, extinction, moonsep = calculate_metrics(str(row['DATE']), float(row['RA']), float(row['DEC']))
    airmasses.append(airmass)
    extinctions.append(extinction)
    moonseps.append(moonsep)
    
gold['AIRMASS'] = airmasses
gold['EXTINCTION'] = extinctions
gold['MOONSEP'] = moonseps

Run on bronze events

In [ ]:
counter = 0.0
total = bronze.shape[0]
airmasses, extincitons, moonseps = [], [], []

for index, row in bronze.iterrows():
    #track progress
    counter += 1.0
    progress = counter / total * 100.0
    sys.stdout.write('\rProgress:  %.2f %%     ' %progress)
    sys.stdout.flush()
    
    #perform calculation
    airmass, extinction, moonsep = calculate_metrics(str(row['DATE']), float(row['RA']), float(row['DEC']))
    airmasses.append(airmass)
    extinctions.append(extinction)
    moonseps.append(moonsep)
    
bronze['AIRMASS'] = airmasses
bronze['EXTINCTION'] = extinctions
bronze['MOONSEP'] = moonseps